name: Publish to Railway with Slack hook

on: 
  push:
    branches:
        - 'v[0-9]+.[0-9]+'

jobs:
  publish-to-railway:
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, '#NORUN') }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2.5.0

      - name: Create Release
        uses: ncipollo/release-action@v1.11.1
        with:
          tag: ${{ github.ref_name }}
          commit: ${{ github.ref_name }}

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install packages
        run: yarn install --frozen-lockfile

      - name: Install Railway
        run: npm i -g @railway/cli

      - name: Deploy
        run: railway up
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}   

      - name: Check environment
        run: railway environment    

      - name: Send custom JSON data to Slack workflow
        id: slack
        uses: slackapi/slack-github-action@v1.23.0
        with:
          payload: |
            {
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": "DipSA55 CI/CD Assignment Submission",
                    "emoji": true
                  }
                },
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "mrkdwn",
                      "text": "*Name:*\nMuhammad Hakim bin Zainal Abidin"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Matriculation:*\nA0265094Y"
                    }
                  ]
                },
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "mrkdwn",
                      "text": "*Email:*\n<mailto:e1045769@u.nus.edu|e1045769@u.nus.edu>"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Repository:*\n<${{ github.repositoryUrl }}>"
                    }
                  ]
                },
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "mrkdwn",
                      "text": "*Deployment:*\n<https://go-fortune-production-d4bc.up.railway.app/ | https://go-fortune-production-d4bc.up.railway.app/>"
                    }
                  ]
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "<https://go-fortune-production-d4bc.up.railway.app/ | Open Application>"
                  }
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
